* {
  box-sizing: border-box;
}

.userData {
  background: linear-gradient(79deg, rgb(35, 7, 77), rgb(204, 83, 51));
  height: 115vh;
  text-align: center;
}

.userDataTitle {
  margin: 0px;
  color: rgb(236, 233, 233);
  font-size: 3.7rem;
  font-family: 'Inter', sans-serif;
  text-align: center;
  width: 100%;
}

.locationTitle {
  margin: 0px;
}
