* {
  box-sizing: border-box;
}

.goBack {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  border-radius: 17px;
  background-color: black;
  padding: 5px;
  top: 10px;
  left: 4px;
  position: absolute;
}

.goBack:hover {
  background-color: salmon;
  color: black;
  box-shadow: 0px 2px 11px 7px rgba(0, 0, 0, 0.4);
}

.userData {
  background: linear-gradient(79deg, rgb(35, 7, 77), rgb(204, 83, 51));
  height: 100vh;
  text-align: center;
}

.userSection {
  position: relative;
  background: rgb(255, 255, 255, 0.1);
  width: 90%;
  margin-left: 5%;
  top: 6px;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 11px 7px rgba(0, 0, 0, 0.4);
}

.userDataTitle {
  margin: 0px;
  color: rgb(236, 233, 233);
  font-size: 3.7rem;
  font-family: 'Inter', sans-serif;
  text-align: center;
  width: 100%;
}

/* .inputFields {
  margin-top: 30px;
  margin
} */

.coordField {
  margin-top: 30px;
  padding-bottom: 30px;
}

.locationTitle {
  margin: 0px;
}

/*Location button div styling*/
.locationButton {
  margin-bottom: 17px;
  margin-top: 7px;
}

.showWeatherButton {
  padding-bottom: 15px;
}
