* {
  box-sizing: border-box;
}

.uvData {
  background: #108dc7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ef8e38,
    #108dc7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ef8e38,
    #108dc7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

.locationButton,
.showWeatherButton {
  text-align: center;
}

/*UV Data content class*/

.uvValueHeader {
  display: inline-block;
  width: 40%;
  margin: 10px 13px;
  padding: 10px;
  border-radius: 30px;
  font-weight: 300;
  font-size: 1.5rem;
  box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, 0.18);
}

.ozoneValue {
  background-color: rgb(255, 255, 255, 0.15);
}

/*slab value for uv_max*/
.lowValue {
  background-color: rgb(85, 139, 47, 0.7);
}
.modValue {
  background-color: rgb(249, 168, 37, 0.7);
}
.highValue {
  background-color: rgb(239, 108, 0, 0.7);
}
.veryHighValue {
  background-color: rgb(183, 28, 28, 0.7);
}
.extremeValue {
  background-color: rgb(106, 27, 154, 0.7);
}
