* {
  box-sizing: border-box;
}

.time_content {
  position: absolute;
  top: 1%;
  left: 0.4%;
  background-color: white;
  height: 280px;
  width: 650px;
  opacity: 0.15;
  border-radius: 30px;
  box-shadow: 0px 2px 11px 7px rgba(0, 0, 0, 0.9);
}

.timeDisplay-container {
  position: absolute;
  left: 1%;
  top: 5%;
}

.timeDisplay {
  margin: 0px;
  font-family: 'Rubik', sans-serif;
  font-size: 6rem;
}

.greetings_value {
  position: absolute;
  margin: 0px;
  font-size: 3.1rem;
  top: 25%;
  left: 3%;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

/*FOR SMALL SCREENS*/

@media (max-width: 745px) {
  .time_content {
    position: static;
    height: 36%;
    background-color: white;
    width: 100%;
    margin: 0px auto;
    opacity: 0.15;
    border-radius: 30px;
    box-shadow: 0px 2px 11px 7px rgba(0, 0, 0, 0.9);
  }

  .timeDisplay-container {
    position: static;
  }

  .timeDisplay {
    padding-top: 30px;
    font-family: 'Rubik', sans-serif;
    font-size: 3.4rem;
    text-align: center;
  }

  .greetings_value {
    padding-top: 30px;
    font-size: 2.4rem;
    position: static;
    margin: 0px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
  }
}
