* {
  box-sizing: border-box;
}

.dropD {
  display: inline-block;
  margin-right: 10px;
}

.dropDLabel {
  font-size: 1.3rem;
  color: white;
}
.dropDSection {
  width: 100%;
  margin-top: 10px;
  border-radius: 3px;
  background: black;
  color: white;
  outline: none;
  border: none;
  font-size: 1rem;
}

.dropDSection:hover {
  background-color: transparent;
  box-shadow: 0px 2px 16px 6px rgba(0, 0, 0, 0.45);
}

.dropDOptions {
  outline: none;
  border: none;
  color: white;
  background-color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
